body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
}

.container {
  max-width: 380px;
  margin: auto;
}

.subtitle {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 10px;
  border: none;
  background: #1e1e1e;
  color: white;
  transition: 0.2s;
}

input:focus, select:focus {
  outline: none;
  box-shadow: 0 0 0 2px #22c55e;
}

button {
  width: 100%;
  padding: 10px;
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  background: #e5e5e5;
}

button:active {
  transform: scale(0.97);
}

.toggle {
  background: #222;
  color: white;
}

.card {
  background: #1a1a1a;
  padding: 12px;
  border-radius: 12px;
  margin-top: 12px;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-2px);
}

.reste {
  font-size: 20px;
  font-weight: bold;
}

.bar-container {
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  margin: 8px 0;
}

.bar {
  height: 10px;
}

.red { background: #ff4d4d; }
.green { background: #22c55e; }

.legend {
  font-size: 11px;
  color: #aaa;
}

.input-group input {
  background: #2a2a2a;
  border: 1px solid #333;
}
.input-group:hover {
  background: #262626;
  transition: 0.2s;
}
.input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1f1f1f;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.input-group span {
  font-size: 14px;
  min-width: 120px;
}

.input-group input {
  width: 80px;
  padding: 6px;
  border: none;
  border-radius: 6px;
  text-align: right;
  background: #2a2a2a;
  color: white;
}

.euro {
  margin-left: 10px;
  color: #aaa;
}
.hidden {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.visible {
  max-height: 500px;
  opacity: 1;
}

.disclaimer {
  font-size: 11px;
  color: #777;
  margin-top: 15px;
}
